.itemNames {
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0 10px 0;
}
.valuesBorder {
    display: flex;
    gap: 10px;
}
.inputWrapper{
    position: relative;
    width: fit-content;
}
.inputText{
    position: absolute;
    margin-left: auto;
    top: 50%;
    left: 10px;
    translate: (0% -50%);

    font-size: 16px;
    color: #808080;
}
.inputSign{
    position: absolute;
    margin-right: auto;
    right: 10px;
    top: 50%;
    translate: (0 -50%);
}
.firstBorder {
    background-color: #040404;
    flex-basis: 207px;
    height: 41px;
    border-radius: 8px;
    color: #fff;
    padding-left: 10px;
}