.aboutUs {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 10px 10px 10px;
}

.containerForTitle {
    display: flex;
    justify-content: center;
}

.title{
    font-size: 50px;
    max-width: 1000px;
    text-align: center;
    line-height: 55px;
}

.container{
    display: flex;
    flex-direction: row;
}

.figures{
    display: flex;
    gap: 100px;
    padding: 300px 0 0 146px;
    width: 100%;
}

.figure{
    
    display: flex;
    flex-direction: column;
    align-items: center
    
}

.description{
    text-align: center;
}

.number{
    font-size: 70px;
    color: #11B14C;
}

.text{
    
    line-height: 21px;
    padding-top: 80px;
    width: 100%;
    p{
        max-width: 425px;
    }
}

@media (max-width:1000px) {
    .container{
        flex-direction: column;
    }

    .title{
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;
    }
    .figures{
        padding: 0;
        justify-content: center;
    }
    .text{
        display: flex;
        justify-content: center;
        p{
            max-width: 70%;
            text-align: center;
        }
    }
}

@media (max-width:700px) {
    .title{
        font-size: 30px;
        line-height: 30px;
    }
    .number{
        font-size: 50px;
    }

    .text{
        line-height: 21px;
        padding-top: 30px;
        p{
            max-width: 90%;
        }
    }
}

@media (max-width:500px) {
    .title{
        font-size: 25px;

    }
    .figures{
        gap: 20px;
    }
    .number{
        font-size: 35px;
    }
}