.header {
    padding: 36px 50px;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container {
    display: flex;
    gap: 70px;
    max-width: 1400px;
}
.title {
    font-size: 28px;
}
.base {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.buttonNightMode {
}
.buttonEnter {
    width: 100px;
    height: 40px;
    padding: 10px 30px;
    color: white;
    background-color: #11B14C;
    border-radius: 10px;
    font-size: 16px;
}