.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-face {
        font-weight: 400;
        font-family: 'Involve';
        src: url('../fonts/Involve-Regular.otf');
    }
    font-face {
        font-weight: 500;
        font-family: 'Involve';
        src: url('../fonts/Involve-Medium.otf');
    }
    font-face {
        font-weight: 600;
        font-family: 'Involve';
        src: url('../fonts/Involve-SemiBold.otf');
    }
    font-family: Involve, sans-serif;
    font-weight: 400;

}