._green-color{
    color: #11B14C;
}

._green-background{
    background-color: #11B14C;
}

._white-color {
    color: #ffffff;
}

._black-background {
    background-color: #000000;
}

._gray-background {
    background-color: #212121;
}

._content-frame {
    max-width: 1400px;
    width: 100%;
}

._blur{
    filter: blur(2px)!important;
    transition: all .3s ease;
}

._usual{
    filter: blur(0px);
    transition: all .3s ease;
}